<div class="row h-100 justify-content-center align-items-center" id="header">
    <div class="col-sm-3 col-md-4"></div>
    <div class="col-sm-3 col-md-5">
        <h2 id="title">Welcome to ghT Bar, {{ username }}</h2>
    </div>

    <div class="col-sm-3 col-md-3">
      <div class="btn-group">
          {{#if admin}}
    <a href="/addItemPage" class="btn btn-outline-success" name="addButton">Add bottle</a>
    <a href="/users" class="btn btn btn-outline-primary" name="usersButton">Users</a>
    <a href="/logout" class="btn btn btn-outline-secondary" name="logoutButton">Log out</a>
              {{else}}
              <a href="/logout" class="btn btn btn-light" name="logoutButton">Log out</a>
            {{/if}}
      </div>
    </div>

</div>
    <div class="row h-100 justify-content-center align-items-center">
<form>
    <div class="search-box">
        <div class="row" id="searchRow">
            <div class="col-sm-3 col-md-6">
                <input class="form-control"
                       type="text"
                       id="searchName"
                       name="searchName"
                       placeholder="Name"
                       alt="Search by name">
            </div>
        </div>
        <div class="row" id="searchRow">
            <div class="col-sm-3 col-md-5 col-lg-5">
                <div>
                    <select class="form-control" id="searchSelect">
                        <option value="0"
                                hidden
                        >Type</option>
                        {{#if types}}
                            {{#each types}}
                                <option value="{{this.type}}">{{this.type}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>

            </div>
            <div class="col-sm-3 col-md-5 col-lg-5">
                <div>
                    <select class="form-control" id="countrySearchSelect">
                        <option value="0"
                                hidden
                        >Country</option>
                        {{#if countries}}
                            {{#each countries}}
                                <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="searchRow">

            <div class="col-sm-3 col-md-5 col-lg-5">
                <div>
                    <select class="form-control" id="searchSelect">
                        <option value="0"
                                hidden
                        >User</option>
                        {{#if users}}
                            {{#each users}}
                                <option value="{{this.username}}">{{this.username}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <div class="btn-group">
                {{#if admin}}
                    <a href="/addItemPage" class="btn btn-outline-success" name="addButton">Add bottle</a>
                    <a href="/users" class="btn btn btn-outline-primary" name="usersButton">Users</a>
                    <a href="/logout" class="btn btn btn-outline-secondary" name="logoutButton">Log out</a>
                {{else}}
                    <a href="/logout" class="btn btn btn-light" name="logoutButton">Log out</a>
                {{/if}}
            </div>
                <a href="/dashboard" id="cancelSearch" class="btn btn-outline-danger" name="cancelSearch">&#10060;</a></div>
        </div>

    </div>
    {{#if items}}

                {{#each items }}
                <div class="media border p-3" style="width: 500px">
                    <div class="media">
                        <img src="/static/images/{{this.image}}"
                             class="align-self-center mr-3"
                             style="width:80px; height: 100px"
                             alt="{{this.name}}">
                        <div class="media-body">
                            <input type="hidden" name="{{this.id}}"/>
                            <h4>{{this.name}}</h4>
                            <p>&bull; {{this.strength}} %</p>
                            <p>&bull; {{this.countryOrigin}} <img src="/static/images/blank.gif" class="flag flag-us" alt="USA" /></p><!-change->
                            <p>&bull; {{this.type}}</p>
                        </div>
                        <div class="btn-group" id="buttonsGroup">
                            {{#if admin}}
                        <button type="button"
                                id="modifyButton"
                                name="modifyButton"
                                onclick="window.location.href='/modifyItem/{{this.id}}'"
                                class="btn btn-outline-dark">Modify</button>
                        <button type="button"
                                id="deleteButton"
                                name="deleteButton"
                                onclick="window.location.href='/deleteItem/{{this.id}}'"
                                class="btn btn-outline-danger">Delete</button>
                                {{/if}}
                        </div>

                    </div>
                </div>

                {{/each}}
    {{else}}
        <p><em>There are currently no items.</em></p>
    {{/if}}
</form>
    </div>