<div class="row h-100 justify-content-center align-items-center" id="header">
    <div class="col-sm-3 col-md-4"></div>
    <div class="col-sm-3 col-md-5">
        <h2 id="title">Welcome to ghT Bar, {{ username }}</h2>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="btn-group">
    <a href="/addItemPage" class="btn btn-outline-success" name="addButton">Add bottle</a>
    <a href="/users" class="btn btn btn-outline-primary" name="usersButton">Users</a>
    <a href="/logout" class="btn btn btn-outline-secondary" name="logoutButton">Log out</a>
      </div>
    </div>
</div>
    <div class="row h-100 justify-content-center align-items-center">
<form>
    <div class="search-box">
        <div class="row" id="searchRow">
            <div class="col-sm-3 col-md-6">
                <input class="form-control"
                       type="text"
                       id="searchName"
                       name="searchName"
                       placeholder="Name"
                       alt="Search by name">
            </div>
        </div>
        <div class="row" id="searchRow">
            <div class="col-sm-3 col-md-6">
                <input class="form-control"
                       type="text"
                       id="searchName"
                       name="searchName"
                       placeholder="Strength"
                       alt="Search by name">
            </div>
        </div>
        <div class="row" id="searchRow">
            <div class="col-sm-3 col-md-5 col-lg-5">
                <div>
                    <select class="form-control" id="searchSelect">
                        <option value="0"
                                hidden
                        >Country</option>
                        {{#if items}}
                            {{#each items}}
                                <option value="{{this.id}}">{{this.countryOrigin}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </div>
            </div>
            <div class="col-sm-3 col-md-5 col-lg-5" id="searchSelectRow">
                <div>
                    <select class="form-control" id="searchSelect">
                        <option value="0"
                                hidden
                        >User</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <a href="/dashboard" id="cancelSearch" class="btn btn-outline-danger" name="cancelSearch">&#10060;</a></div>
        </div>

    </div>
    {{#if items}}

                {{#each items }}
                <div class="media border p-3" style="width: 500px">
                    <div class="media">
                        <img src="/static/images/{{this.image}}"
                             class="align-self-center mr-3"
                             style="width:80px; height: 100px"
                             alt="{{this.name}}">
                        <div class="media-body">
                            <input type="hidden" name="{{this.id}}"/>
                            <h4>{{this.name}}</h4>
                            <p>&bull; {{this.strength}} %</p>
                            <p>&bull; {{this.countryOrigin}} <img src="/static/images/blank.gif" class="flag flag-us" alt="USA" /></p><!-change->
                            <p>&bull;  {{this.type}}</p>
                        </div>

                        <div class="btn-group" id="buttonsGroup">
                        <button type="button" id="modifyButton" class="btn btn-outline-dark">Modify</button>
                        <button type="button" id="modifyButton" class="btn btn-outline-danger">Delete</button>
                        </div>

                    </div>
                </div>

                {{/each}}
    {{else}}
        <p><em>There are currently no items.</em></p>
    {{/if}}
</form>
    </div>