<div class="row h-100 justify-content-center align-items-center" id="header">
    <div class="col-sm-3 col-md-4"></div>
    <div class="col-sm-3 col-md-5">
        <h2 id="title">Welcome to ghT Bar, {{ username }}</h2>
    </div>

    <div class="col-sm-3 col-md-3">
      <div class="btn-group">
          {{#if admin}}
    <a href="/addItemPage" class="btn btn-outline-success" name="addButton">Add bottle</a>
    <a href="/users" class="btn btn btn-outline-primary" name="usersButton">Users</a>
    <a href="/logout" class="btn btn btn-outline-secondary" name="logoutButton">Log out</a>
              {{else}}
              <a href="/logout" class="btn btn btn-light" name="logoutButton">Log out</a>
            {{/if}}
      </div>
    </div>
    <a href="/orderAsc" class="btn btn-default" name="asc">A-Z</a>
    <a href="/orderDesc" class="btn btn-default" name="desc">Z-A</a>

</div>
    <div class="row h-100 justify-content-center align-items-center">
<form method="post" action="/searchItems">
    <div class="search-box">
        <div class="row" id="searchRow">
            <div class="col-sm-3 col-md-6">
                <input class="form-control"
                       type="text"
                       id="searchName"
                       name="searchName"
                       placeholder="Search by name..."
                       alt="Search by name">
            </div>
        </div>
        <div class="row" id="searchRow">
            <div class="col-sm-5 col-md-7 col-lg-7">

                    <select class="form-control"
                            id="searchSelectType"
                            name="searchTypeSelect"
                            onchange="onTypeChange()">
                        <option value="0"
                                hidden
                        >Type</option>
                        {{#if types}}
                            {{#each types}}
                                <option value="{{this.type}}">{{this.type}}</option>
                            {{/each}}
                        {{/if}}
                    </select>


            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">

                    <select class="form-control"
                            id="countrySearchSelect"
                            onchange="onCountryChange()">
                        <option value="0"
                                hidden
                        >Country</option>
                        {{#if countries}}
                            {{#each countries}}
                                <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        {{/if}}
                    </select>

            </div>
        </div>
        <div class="row" id="searchRow">

            <div class="col-sm-5 col-md-7 col-lg-7">
                    <select class="form-control"
                            id="searchSelect"
                            name="searchSelect"
                            onchange="onUserChange()">
                        <option value="0"
                                hidden
                        >User</option>
                        {{#if users}}
                            {{#each users}}
                                <option value="{{this.username}}">{{this.username}}</option>
                            {{/each}}
                        {{/if}}
                    </select>

            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <div class="btn-group search-group" id="buttonsGroupSearch">
                    <button
                       class="btn btn-outline-success"
                       name="searchButton"
                       id="searchGroupButton"
                       type="submit"
                        >Search</button>
                    <a href="/dashboard"
                       class="btn btn btn-outline-primary search-group"
                       name="resetButton"
                       id="searchGroupButton"
                        >Reset</a>

            </div>
        </div>

    </div>
    </div>
    {{#if items}}

                {{#each items }}
                <div class="media border p-3" style="width: 500px">
                    <div class="media">
                        <img src="/static/images/{{this.image}}"
                             class="align-self-center mr-3"
                             style="width:80px; height: 100px"
                             alt="{{this.name}}">
                        <div class="media-body">
                            <input type="hidden" name="{{this.id}}"/>
                            <h4>{{this.name}}</h4>
                            <p>&bull; {{this.strength}} %</p>
                            <p>&bull; {{this.countryOrigin}} <img src="/static/images/blank.gif" class="{{this.code_iso}}" alt="USA" /></p><!-change->
                            <p>&bull; {{this.type}}</p>
                            <p>&bull; User: {{this.user}}</p>
                        </div>
                        <div class="btn-group" id="buttonsGroup">
                            {{#if admin}}
                        <button type="button"
                                id="modifyButton"
                                name="modifyButton"
                                onclick="window.location.href='/modifyItem/{{this.id}}'"
                                class="btn btn-outline-dark">Modify</button>
                        <button type="button"
                                id="deleteButton"
                                name="deleteButton"
                                onclick="window.location.href='/deleteItem/{{this.id}}'"
                                class="btn btn-outline-danger">Delete</button>
                                {{/if}}
                        </div>

                    </div>
                </div>

                {{/each}}
    {{else}}
        <p><em>There are currently no items.</em></p>
    {{/if}}

</form>
    </div>

<script>
    function onTypeChange() {

        let searchType = $("#searchSelectType option:selected").text();
        let search = JSON.stringify({searchType: searchType});
        let request = new XMLHttpRequest();

        request.open("POST", "/searchType", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", function () {
            console.log(request.response);
            document.write(request.response);
        });
        request.send(search);
    }

    function onCountryChange() {

        let searchCountry = $("#countrySearchSelect option:selected").text();
        let search = JSON.stringify({searchCountry: searchCountry});
        let request = new XMLHttpRequest();

        request.open("POST", "/searchCountry", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", function () {
            console.log(request.response);
            document.write(request.response);
        });
        request.send(search);
    }

    function onUserChange() {
        let searchUser = $("#searchSelect option:selected").text();
        let search = JSON.stringify({searchUser: searchUser});
        let request = new XMLHttpRequest();
        request.open("POST", "/searchUser", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", function () {
            console.log(request.response);
            document.write(request.response);
        });
        request.send(search);
    }
</script>

